/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Custom properties */
:root {
    --primary-rev-bg-clr-one: hsl(263, 55%, 52%);
    --primary-rev-bg-clr-two: hsl(217, 19%, 35%);
    --primary-rev-bg-clr-three: hsl(219, 29%, 14%);
    --primary-rev-bg-clr-four: hsl(0, 0%, 100%);

    --neutral-clr-one: hsl(0, 0%, 81%);
    --neutral-clr-two: hsl(210, 46%, 95%);

    --neutral-border-clr: hsl(264, 82%, 70%);

    /* Same color as names */
    --verified-graduate-opacity: 50%;
    --rev-par-opacity: 70%;

    --fs-body : 13px;
    --ff-main: 'Barlow Semi Condensed', sans-serif;
    --fw-medium: 500;
    --fw-semiBold: 600;
}

/*Used an invisible h1 to have at least one title*/
h1 {
    position: absolute;
    visibility: hidden;
}

/* Styles */

body {
  font-family: var(--ff-main);
  font-size: var(--fs-body);
  font-weight: var(--fw-medium);
  background-color: var(--neutral-clr-two);
}

.container {
  padding: 1.5rem;
  margin: 3rem 0;
  display: grid;
  row-gap: 1.5rem;
  column-gap: 2rem;
}

.box {
  padding: 1.5rem 2rem;
  color: var(--primary-rev-bg-clr-four);
  display: grid;
  gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 30px -20px black;
}

.one {
  background-color: var(--primary-rev-bg-clr-one);
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 90% 0;
}

.one .picture {
  border: 2px solid var(--neutral-border-clr);
}

.two {
  background-color: var(--primary-rev-bg-clr-two);
}

.three {
  background-color: white;
  color: var(--primary-rev-bg-clr-two);
  font-weight: var(--fw-semiBold);
}

.three .name {
  opacity: 100%;
}

.four {
  background-color: var(--primary-rev-bg-clr-three);
}

.four .picture {
  border: 2px solid var(--primary-rev-bg-clr-one);
}

.five {
  background-color: white;
  color: var(--primary-rev-bg-clr-two);
  font-weight: var(--fw-semiBold);
}

.five .name {
  opacity: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.picture {
  width: 2rem;
  border-radius: 50%;
}

.name {
  opacity: 80%;
}

.verified {
  opacity: 50%;
}

.review {
  opacity: 60%;
}

@media screen and (min-width: 1000px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "one one two five"
    "three four four five";
    max-width: 1140px;
  }

  .one {
    grid-area: one;
  }

  .two {
    grid-area: two;
  }

  .three {
    grid-area: three;
  }

  .four {
    grid-area: four;
  }

  .five {
    grid-area: five;
  }

  .title {
    line-height: 1.2;
  }
}